.result_container {
  background-color: #ffffff;
  border: 1px solid rgba(112, 112, 112, 0.4);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.result_container_inner {
  width: 100%;
}
.item_container {
  width: 100%;
  position: relative;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
}
.result_item {
  margin: 0 !important;
  width: 100%;
  align-self: center;
}
.result_container_inner:nth-child(even) {
  background-color: rgba(247, 247, 247, 1);
}
.result_container_inner:nth-child(odd) {
  background-color: rgba(255, 255, 255, 1);
}
.result_container_inner:hover {
  border-left: 4px solid #e0ba6a;
}

.item_inner_container_left {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.club_image_container {
  width: 30%;
  max-width: 200px;
}
.item_img {
  height: 194px;
  width: 194px;
  border-radius: 97px;
}
.club_desc_container {
  padding-left: 10px;
  width: 60%;  
}
.item_displayname {
  font-family: oswaldRegular;
  font-size: 3.5em;
  font-weight: bold;
  text-decoration: none;
  color: #707070;
}

.item_displayname:hover {
  text-decoration: none;
}
.item_fullname {
  font-family: openSansRegular;
  font-size: 2.3em;
  /* font-weight: 600; */
  letter-spacing: 2px;
  text-decoration: none;
  color: #707070;
  margin-top: 0;
}
.item_description {
  font-family: openSansRegular;
  font-size: 2em;  
  text-decoration: none;
  color: #707070;
}
.item_inner_container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.button_full {
  margin: 0 auto;
  display: flex;
  width: 140px;
  height: 44px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid #000000;
  background-color: #06083b;
  cursor: pointer;
}
.button_border {
  display: flex;
  width: 140px;
  height: 44px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid #000000;
  cursor: pointer;
}
.button_onWait {
  display: flex;
  width: 140px;
  height: 44px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #e0ba6a;
  cursor: not-allowed;
}
.follow {
  font-family: oswaldMedium;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}
.onfollow {
  font-family: oswaldMedium;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.onWait {
  font-family: oswaldMedium;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: none;
  color: #e0ba6a;
}

.numbers {
  font-family: oswaldRegular;
  font-size: 3em;
  font-weight: bold;
  color: #000000;
}
.labeltext {
  margin: 20px auto;
  font-family: openSansRegular;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}
.pending_req_container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #e4e4e4;
}
.pending_req_container_col {
  color: #7d7d7d;
  font-family: openSansRegular;
  font-size: 1.5em;
  text-align: center;
}
.just_for_align {
  width: 30%;
  max-width: 200px;
}

.pending_req_container_col:nth-child(3) {
  margin-left: 100px;
  cursor: pointer;
}
