.footer_container {
  margin: 60px auto 0;
  padding: 60px 0 10px;
  background-color: #06083b;
  color: #ffffff;
  bottom: 0;
}
.footer_heading {
  font-family: oswaldMedium;
  font-size: 3.2em;
  color: #ffffff;
  line-height: 64px;
  font-weight: normal;
}

.footer_container p {
  color: #ffffff;
  font-size: 1.2em;
  font-family: bahnschriftRegular;
}

.list_item {
  color: #ffffff;
  font-size: 1.2em;
  font-family: bahnschriftRegular;
  text-decoration: none;
}

.list_item_underline {
  color: #ffffff;
  font-size: 1.2em;
  font-family: bahnschriftRegular;
  text-decoration: none;
}
.list_item_underline:hover {
  text-decoration: none;
}

@media screen and (max-width: 899px) {
  .footer_heading {
    font-size: 2.2em;  
  }
  
  .footer_container p {
    font-size: 1em;
  }
  .list_item {
    font-size: 1em;   
  }
}
